@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  font-family: 'Noto Sans KR', serif;
}

body {
  margin: 0;
  padding: 0;
  background: #969696;
}

.app {
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
}